.suggestion-list {
  list-style: none;

  padding: 0;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  color: #000;
}

.suggestion-list li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-list li:hover {
  background-color: #f0f0f0; /* Highlight the suggestion on hover */
}
